body {
    background-image: linear-gradient(
    to bottom right,
    black,
    maroon,
    black,
    darkred
    
    );

    background-size: 200% 200%;
   animation: movimiento 5s linear infinite
   alternate;
   color: white;
}

@keyframes movimiento {
    from {
        background-position: 0 0;
    }
    to{
        background-position: 100% 100%;
    }
}