/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
/* src/index.css */
@import '~@fortawesome/fontawesome-free/css/all.css';



.home-container {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
}
.texto-blanco {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* background-image: url('https://images.unsplash.com/photo-1574267432644-f410f8ec2474?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YnV0YWNhcyUyMGRlJTIwY2luZXxlbnwwfHwwfHx8MA%3D%3D'); Ajusta la ruta según la ubicación real de tu imagen */
  background-size: cover;
  background-position: center;
  font-family: "Agbalumo", sans-serif;
}

html,
body {
  
  height: 100%;

}

.movieWelcome {
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.movieWelcome h1 {
  font-size: 48px;
  margin-bottom: 10px; /* Reducido el margen inferior */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.info.Welcome {
  display: flex;
  justify-content: space-between;
  
}

.grid-left p {
  font-size: 26px;
  width: 50%;
  margin-bottom: 10px; 
  font-family: monospace;
}

.grid-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.grid-right i {
  font-size: 32px; /* Ajustado el tamaño de fuente de los íconos */
}

.comentWelcome,
.favoritesWelcome,
.laterWelcome {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* Reducido el margen inferior */
}

.comentWelcome p,
.favoritesWelcome p,
.laterWelcome p {
  margin-left: 10px;
  font-size: 18px;
  margin-bottom: 4px; /* Eliminado el margen inferior */
  font-family: monospace;
}

.btn-top {
  background-color: #dc3545;
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  text-decoration: none; 
  transition: background-color 0.3s ease; 
}

.btn-top:hover {
  background-color: #c82333; 
}

.tittleRow {
  margin-top: 2rem; 
}

.tittleRow h2 {
  margin: 0; 
}


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.settings {
  position: absolute;
  top: 10px;
  right: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.text-left {
  text-align: left;
}

.movieCard {
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  margin-bottom: 10px;
}

/* .movieCardsButton {

} */


.flex-nowrap {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.col {
  padding: 0 5px;
}

/* Add your own custom styles as needed */


/* MovieInfo.css */

.movie-info-container {
  padding: 20px;
}

.movie-poster {
  border-radius: 8px;
}



.movie-info-container {
  color: white; /* Cambia el color del texto a blanco */
}

.movie-details {
  background-color: rgba(0, 0, 0, 0.7); /* Añade un fondo semi-transparente oscuro */
  padding: 20px;
}

.movie-details ul {
  list-style-type: none; /* Quita los puntos de la lista */
  padding: 0;
}

.movie-details li {
  margin-bottom: 10px; /* Ajusta el espaciado entre elementos de la lista */
}


.movie-info-container {
  padding-top: 56px; 
  margin-top: 56px;
}

.comment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.comment-content {
  flex-grow: 1;
}

.comment-date {
  flex-shrink: 0;
  color: #888;
}

.rating {
  display: inline-block;
  font-size: 24px;
}

.rating .star {
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s;
}

.rating .star.selected {
  color: rgba(167, 153, 2, 0.941)
}

.movieWelcome{
  margin-top: 70px;
  width: 80%;
}

.vistaHome > background-image{
  object-fit: cover; 
}
.tittleRow{
  color: white;
}


.xCard {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    
}
.xCard:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.xCard .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.xCard .card-body {
  padding: 1.5rem;
}

.xCard .card-title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.xCard .card-text {
  margin-bottom: 0.75rem;
  font-size: medium;
}

.xCard .rating {
  margin-bottom: 1rem;
}

.xCard .rating .star {
  font-size: 1.5rem;
  color: #f8f7f5;
  cursor: pointer;
}

.xCard .rating .selected {
  color: #ffc107;
}

.xCard .xBtn {
  margin-top: auto;
}

.xCard .xBtn button {
  margin-left: 0.5rem;
}

.card.horizontal{
  max-height: 18 rem;
}
.card-text.horizontal{
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  max-width: 350px;
  max-height: 100px;
}

