/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
/* src/index.css */
@import '~@fortawesome/fontawesome-free/css/all.css';



.home-container {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
}
.texto-blanco {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* background-image: url('https://images.unsplash.com/photo-1574267432644-f410f8ec2474?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YnV0YWNhcyUyMGRlJTIwY2luZXxlbnwwfHwwfHx8MA%3D%3D'); Ajusta la ruta según la ubicación real de tu imagen */
  background-size: cover;
  background-position: center;
  font-family: "Agbalumo", sans-serif;
}

html,
body {
  
  height: 100%;

}


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.settings {
  position: absolute;
  top: 10px;
  right: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.text-left {
  text-align: left;
}

.movieCard {
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  margin-bottom: 10px;
}

/* .movieCardsButton {

} */


.flex-nowrap {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.col {
  padding: 0 5px;
}

/* Add your own custom styles as needed */


/* MovieInfo.css */

.movie-info-container {
  padding: 20px;
}

.movie-poster {
  border-radius: 8px;
}



.movie-details h2 {
  color: #333;
}

.movie-details ul {
  list-style: none;
  padding: 0;
}

.movie-details li {
  margin-bottom: 10px;
}

.movie-info-container {
  padding-top: 56px; 
  margin-top: 56px;
}

.comment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.comment-content {
  flex-grow: 1;
}

.comment-date {
  flex-shrink: 0;
  color: #888;
}

.rating {
  display: inline-block;
  font-size: 24px;
}

.rating .star {
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s;
}

.rating .star.selected {
  color: rgba(167, 153, 2, 0.941)
}


