.form-group{
    display: flex;
    align-items: baseline;

}

.home-container{
    font-family: "Poppins", sans-serif;

}


.contenedorLogin{
    width: 420px;
    color: #fff;
    border-radius: 5%;
    padding: 30px 40px;
    background: transparent;
    border: 2px solid;
    border-color:  rgba(255, 255, 255, .2);    
}

.loginContainer h1{
    font-size: 36px;
    text-align: center;
}

.form-group input{
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid ;
    border-color: rgb(255, 255, 255, .2);
    border-radius: 40px;

}

.form-group input::placeholder{
    color: #fff;
}

.form-group svg{
    position: relative;
    right: 30px;
    top: 10px;
    transform: translateY(-50%);
    color: black;
}



.contenedor button{
    width: 95%;
    height: 45px;
    background: #fff;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #333;
    font-weight: 600;
    margin-top: 10px
}

.contenedor p{
    font-size: 14.5px;
    text-align: center;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}


